@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.contact
{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url('contact.jpg');
	background-size: cover;
}
.contact .content
{
	border-top:5px solid FloralWhite;
	border-right:5px solid FloralWhite;
	border-left:5px solid FloralWhite;	
	border-radius: 20px;
	margin-top: -20px;
	padding: 0px 20px 0px 20px;
	border-radius: 20px;
	max-width: 600px;
	text-align: center;
}
.contact .content h1
{
	font-size: 40px;
	font-weight: 500;
	color: #99ff33;
}
.contact .content p
{
	font-weight: 600;
	color: yellow;
}
.container
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactinfo
{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactinfo .box
{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactinfo .box .icon
{
	min-width: 60px;
	height: 60px;
	background: rgba(240, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 2px solid white;
	font-size: 22px;
	font-color: white;
}
.container .contactinfo .box .text
{
	background: rgba(240, 255, 255, 0.3);
	width:300px;
	border-top-right-radius: 20px ;
	border-bottom-right-radius: 20px;
	border: 2px solid white;
	display: flex;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	color: white;
	flex-direction: column;
	font-weight: 300;
}
.container .contactinfo .box .text h3
{
	font-weight: 600;
	color: #00bcd4;
}
.contactform
{
	width: 40%;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	border: 5px solid black;
	box-shadow: 5px 5px 5px 5px gray;
}
.contactform h2
{
	font-size: 30px;
	color: #800000;
	font-weight: 500;
}
.contactform .inputbox
{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactform .inputbox span
{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]
{
	width: 200px;
	background: #00bcd4;
	color: #fff;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	padding: 10px;
	font-size: 25px;
}
@media (max-width: 991px)
{
	.contact
	{
		padding: 50px;
	}
	.container
	{
		flex-direction: column;
	}
	.container .contactinfo
	{
		margin-bottom: 40px;
	}
	.container .contactinfo,
	.contactform
	{
		width: 100%;
	}
}
#bt{
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: wrap;
	align-items: right;
}
.button{
	margin-top: 20px;
	font-size: 30px;
}
a{
	border-radius: 5px;
	margin-left: 25px;
	margin-right: 25px;
	padding: 10px;
	color: white;
	background-color: orange;
	font-size: 25px;
	font-family: 
}
a:hover{
	background: black;
	color: orange;
}