@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
a {
  color: black;
}

nav {
  width: 100%;
  background: #2c2c2c;
  padding: 10px;
  color: #fff;
}

nav .container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-family: "Montserrat", sans-serif;
}

.container1 {
  width: 80%;
  margin: auto;
}

.subnav {
  background: #1a1a1a;
  padding: 10px;
}

.subnav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.subnav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.contact
{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
.contact .content 
{
	margin-top: -20px;
	padding: 0px 20px 0px 20px;
	border-radius: 20px;
	max-width: 600px;
	text-align: center;
}
.contact #oval{
      width: 300px;
      height: 70px;
      background: black;
      border-radius: 100px / 50px;
      box-shadow: 0px 0px 5px 5px gray;
}
.contact .content h1
{
	font-size: 40px;
	font-weight: 500;
	color: white;
}
.container
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactinfo
{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactinfo .box
{
	position: relative;
	padding: 20px 180px;
	display: flex;
}
.container .contactinfo .box .icon
{
	min-width: 60px;
	height: 60px;
	background: rgba(240, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 2px solid black;
	font-size: 22px;
	font-color: black;
}
.container .contactinfo .box .text
{
	background: rgba(240, 255, 255, 0.3);
	width:300px;
	border-top-right-radius: 20px ;
	border-bottom-right-radius: 20px;
	border: 2px solid black;
	display: flex;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	color: white;
	flex-direction: column;
	font-weight: 300;
}
.container .contactinfo .box .text p
{
	font-weight: 600;
	color: black;
	padding: 5px;
}
.contactform
{
	width: 40%;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	border: 5px solid black;
	box-shadow: 5px 5px 5px 5px gray;
	margin-top: 40px;
}
.contactform h2
{
	font-size: 30px;
	color: #800000;
	font-weight: 500;
}
.contactform .inputbox
{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactform .inputbox span
{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]
{
	width: 200px;
	background: #00bcd4;
	color: #fff;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	padding: 10px;
	font-size: 25px;
}
.contactform .inputbox input[type="submit"]:hover
{
	border: 3px solid black;
	background-color: blue;

}
footer {
  background: #121212;
  padding: 4em;
  padding-bottom: 1em;
  margin-top: 4em;
  color: #fff;
  margin-bottom: 0px;
}

footer .container1 .grid {
  display: flex;
  flex-wrap: wrap;
}

footer .container1 .grid .col {
  flex: 1 1 0;
}

footer .container1 .grid .col h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1em;
}

footer .container1 .grid .col input {
  padding: 20px 25px;
  border-radius: 10px;
  background: #eaeaea;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

footer .container1 .grid .col button {
  text-align: center;
  background: #1a1a1a;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  padding: 20px 25px;
  border: none;
}

footer .container1 .grid .col ul {
  list-style: none;
}

footer .container1 .grid .col ul li {
  margin-top: 2em;
}

footer .container1 .grid .col ul li a {
  color: #fff;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

footer hr {
  align-items: center;
  margin-top: 50px;
}
.bott {
  margin-top: 10px;
  text-align: center;
}
@media (max-width: 991px)
{
	.contact
	{
		padding: 50px;
	}
	.container
	{
		flex-direction: column;
	}
	.container .contactinfo .box
	{
		padding: 40px 0px;
	}
	.container .contactinfo
	{
		margin-bottom: 40px;
	}
	.container .contactinfo,
	.contactform
	{
		width: 100%;
		padding-bottom: 80px; 
	}
	.subnav.responsive {
    	position: relative;
  	}
  	.subnav.responsive a.icon {
    	position: absolute;
    	right: 0;
    	top: 0;
  	}
  	.subnav.responsive a {
    	float: none;
    	display: block;
    	text-align: left;
  	}
}
